/* Imports */
/* 1.1 Normalize Import */  
@import url('normalize.css');

/*change all fonts*/
* {
    font-family: 'Ubuntu', sans-serif;
}

/* universal page style */
body {
    margin: 0;
    background-color: #fff3d3;
}

header {
    background-color: #e4aa0d;
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 50px;
}

h1 {
    font-size: 35pt;
    margin-bottom: 5px;
    margin-top: 10px;
}

h2 {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 20pt;
}

footer {
    background-color: #e4aa0d;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer p {
    margin: 5px;
}