/* Imports */
/* 1.1 Normalize Import */  
@import url('normalize.css');

/* universal page style */
html {
    box-sizing: border-box;
    background-color: #cfdbd5;
}
   
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #031927;
}

header {
    background-color: #a6a6a8;
    display: inline-block;
    font-weight: 600;
    width: 100%;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

p {
    margin: 5px;
    padding: 0;
}

.bold {
    font-weight: bold;
}

#curWeather {
    background-size: cover;
}

.tile {
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
}

footer {
    background-color: #a6a6a8;
    text-align: center;
    margin: 0;
}

footer p {
    margin: 5px;
}