/* variables */
:root {
    --component-size: 250px;
}

/* limit the width for certain elements on page */
main {
    width: 100%;
    margin: auto;
}

/* style the nav for this veiwport */
nav ul li:last-child {
    display: none;
}

nav {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 1300px;
    padding: 0;
    margin: auto;
    list-style-type: none;
}

nav ul li {
    border-right: 1px solid;
    border-left: 1px solid;
    width: 33.33%;
    line-height: 2.5em;
    display: block;
    margin: -1px;
}

#preston-link {
    margin: 0;
}

.nav-link {
    color: inherit;
}

/* style the logo and title */
#logo {
    padding-left: 10px;
    height: 5em;
    top: 1em;
    position: relative;
}

.inline-logo {
    display: inline-block;
    margin-left: .5em;
}

#title {
    font-size: 2.5em;
    font-weight: 600;
    margin: 0;
}

#tagline {
    font-size: 1em;
    font-weight: 500;
    margin: 0;
}

/* style the geographic data */
#location-name {
    font-size: 2.3em;
    width: 1300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 3px;
}

#gps {
    font-size: 1em;
    width: 1300px;
    margin: auto;
    margin-bottom: 20px;
}

/* background images for behind tiles */
.rain {
    background-image: url("../images/rain-large.jpg");
}

.snow {
    background-image: url("../images/snow-large.jpg");
}

.clouds {
    background-image: url("../images/clouds-large.jpg");
}

.clear {
    background-image: url("../images/clear-large.jpg");
}

.fog {
    background-image: url("../images/fog-large.jpg");
}

/*style the tiles for the page */
.tile {
    width: 416px;
    margin: 0;
    height: max-content;
}

/* style the current temperature tile */
#weather-temps {
    width: 1235px;
    margin: auto;
    margin-bottom: 10px;
    height: auto;
}

#temp {
    font-size: 6em;
    margin: 0em;
    display: inline;
    padding: .7em;
}

#high {
    color: var(--high-color);
    display: inline;
    font-size: 2.5em;
    position: relative;
    top: -.7em;
}

#low {
    color: var(--low-color);
    display: inline;
    font-size: 2.5em;
    position: relative;
    top: -.7em;
}

#feels-like {
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 1em;
}

.wind {
    display: inline;
    font-size: 1.5em;
    margin: 2em;
}

/* style the future weather tiles */
#weather-details {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 1300px;
    margin: auto;
    padding-bottom: 1em;
}