nav ul li:last-child {
    display: none;
}

nav {
    text-align: center;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    list-style-type: none;
}

nav ul li {
    
    border: 1px solid;
    border-color: #031927;
    width: 100%;
    line-height: 2.5em;
    display: block;
    margin: 0;
    margin-left: -1px;
    margin-right: -1px;
}

#preston-link {
    margin: 0;
}

.nav-link {
    color: inherit;
}

nav ul li:hover {
    background-color: #031927;
    color: #a6a6a8;
}

footer {
    bottom: 0;
    height: 3em;
    border: 1px solid;
}

#logo {
    padding-left: 10px;
    height: 5em;
    top: 1em;
    position: relative;
}

.inline-logo {
    display: inline-block;
    margin-left: .5em;
}

#title {
    font-size: 2.5em;
    font-weight: 600;
    margin: 0;
}

#tagline {
    font-size: 1em;
    font-weight: 500;
    margin: 0;
}

#location-name {
    font-size: 2.3em;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 100%;
}

#gps {
    font-size: 1em;
    margin: 3px;
    width: 100%;
}

#weather-temps {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    height: auto;
}

#temp {
    font-size: 6em;
    margin: 0em;
    display: inline;
    padding: .7em;
}

#high {
    color: #ff0000;
    display: inline;
    font-size: 2.5em;
    position: relative;
    top: -.7em;
}

#low {
    color: #0000ff;
    display: inline;
    font-size: 2.5em;
    position: relative;
    top: -.7em;
}

#feels-like {
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 1em;
}

.wind {
    display: inline;
    font-size: 1.5em;
    margin: 2em;
}

#weather-details {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 90%;
    margin: auto;
    padding-bottom: 1em;
}

h3 {
    margin-top: 0;
}
.tile {
    width: 32%;
    margin: 0;
    height: 350px;
}