#logo {
    padding-left: 10px;
    height: 4em;
    top: .7em;
    position: relative;
}

.inline-logo {
    display: inline-block;
    margin-left: .5em;
    padding-bottom: 15px;
}

#title {
    font-size: 2em;
    font-weight: 600;
    margin: 0;
}

#tagline {
    font-size: 1em;
    font-weight: 500;
    margin: 0;
}

header {
    border-bottom: 1px solid;
}

#location-data {
    padding: 10px;
    padding-left: 30px;
}

#location-name {
    margin: 0;
}

#gps {
    margin: 0;
}

.tile {
    height: 300px;
    width: 90%;
}

.component {
    width: 200px;
    height: 200px;
}

#weather-temps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}

#temp {
    font-size: 4em;
    order: -1;
    width: 100%;
}

#high {
    color: red;
    font-size: 1.5em;
    margin-right: 10px;
}

#low {
    color: royalblue;
    font-size: 1.5em;
    margin-left: 10px;
}

#wind-speed {
    width: 100%;
    font-size: 1.25em;
}

#feels-like {
    display: none;
}

#wind-gusts {
    display: none;
}

h3 {
    display: none;
}

footer {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.small-footer {
    margin-bottom: 30px;
}

.large-footer {
    margin-bottom: 108px;
}

nav ul li {
    background-color: #a6a6a8;
    line-height: 25px;
    border: 1px solid;
    border-bottom: unset;
}

nav ul {
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

#navbar {
    text-align: center;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
}

.nav-link {
    color: inherit;
}

.hidden ul li:not(:last-child) {
    display: none;
}

.shown ul li {
    display: block;
    width: 100%;
    /* background-color: ivory; */
}