/* Imports */
/* 1.1 Normalize Import */  
@import url('normalize.css');


/* variables */
:root {
    --main-bg-color: #cfdbd5;
    --default-text-color: #031927;
    --accent-color: #a6a6a8;
}

/* universal page style */
html {
    box-sizing: border-box;
    background-color: var(--main-bg-color);
}
   
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    color: var(--default-text-color);
}

a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

/* make default style for header and nav bar*/
header {
    background-color: var(--accent-color);
    display: inline-block;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

/* stylize the piture elements */
picture{
    display: block;
    width: 95%;
    max-width: 1000px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 5px;
    border: 1px solid black;
}

img {
    display: block;
    width: 100%;
}

.blur {
    filter: blur(0.5em);
}
  
.clear {
    filter: blur(0em);
    transition: filter 1s;
}

/* default style for footer */
footer {
    background-color: #a6a6a8;
    text-align: center;
    margin: 0;
    border: 1px solid;
}

footer p {
    margin: 5px;
}